
@font-face {
    font-family: 'Open Sans', sans-serif;
}
/*
#Background-body{
    overflow: hidden;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #509cf6;
    background: -moz-linear-gradient(-45deg,#509cf6 0,#8dc8d6 50%,#78b9e2 100%);
    background: -webkit-linear-gradient(-45deg,#509cf6 0,#8dc8d6 50%,#78b9e2 100%);
    background: linear-gradient(135deg,#509cf6 0,#8dc8d6 50%,#78b9e2 100%);
}
*/
.full-width{
    width: 100%;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.tabs-left {
    border-right: 0px solid #ddd;
}

.layoutType {
    width: 100%;
    height: auto;
}
.layoutType img{
    margin:0 auto;
}

/****Main page background*****/
#background {
    width: 100%;
    height: 60%;
    margin-top: -20px;
    position: fixed;
}

#splashScreen {
    position: absolute;
    text-align: center;
    bottom: 1;
    left: 0;
    right: 0;
    z-index: 2;
}

#splashScreen h1{
    font-family: CircularStd;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-size: 450%;
    margin-top: 45px;
}

#splashScreen h2{
    font-family: CircularStd;
    color: white;
    font-size: 250%;
    margin-top: 30px;
}

.noPadding{
    padding: 0 !important;
    margin: 0 !important;
}

/****Draggable text*****/

           .dragThis {
                width: 150px;
                height: 150px;
                padding: 0.5em;
                border: 3px solid #ccc;
                background-color: transparent;
                z-index: 10;
                position: absolute;
           }
         
/*******Default Calendar*********/
        #top,
        #calendar.fc-unthemed {
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #top {
                padding: 0 10px;
                line-height: 40px;
                font-size: 12px;
                color: #000;
        }

        #top .selector {
                display: inline-block;
                margin-right: 10px;
        }

        #top select {
                font: inherit; /* mock what Boostrap does, don't compete  */
        }
        
        #contenedor { z-index: 3; position: absolute; float: right; margin: 140px 0px 0px 80px;}
        .left { float: left }
        .right { float: right }
        .clear { clear: both }

        #calendar {
                max-width: 900px;
                padding: 0 0px;
        }   

/*******Custom Calendar View********/
.CalendarContent1{
    width: 100%;
    height: auto;
    z-index: 3;
    position: relative;
}
#calendarBackground{
    width: 100%;
    height: auto;
    z-index: -9;
    position: absolute;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11, .bgimg-12, .bgimg-13, .bgimg-14, .bgimg-15, .bgimg-16, .bgimg-17, .bgimg-18, .bgimg-19, .bgimg-20, .bgimg-21, .bgimg-22, .bgimg-23, .bgimg-24, .bgimg-25{
  position: relative;
  opacity: 0.9;
  background-attachment: initial;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.1);    
}
.bgimg-1 {
  background-image: url('../img/backgrounds/april_showers.jpg');
  min-height: auto;
}
.bgimg-2 {
  background-image: url('../img/backgrounds/autumn_leaves.jpg');
  min-height: 100%;
}
.bgimg-3 {
  background-image: url('../img/backgrounds/balloons.jpg');
  min-height: 100%;
}
.bgimg-4 {
  background-image: url('../img/backgrounds/christmas.jpg');
  min-height: 100%;
}
.bgimg-5 {
  background-image: url('../img/backgrounds/cornucopia.jpg');
  min-height: 100%;
}
.bgimg-6 {
  background-image: url('../img/backgrounds/early-autumn.jpg');
  min-height: 100%;
}
.bgimg-7 {
  background-image: url('../img/backgrounds/easter.jpg');
  min-height: 100%;
}
.bgimg-8 {
  background-image: url('../img/backgrounds/fireplace.jpg');
  min-height: 100%;
}
.bgimg-9 {
  background-image: url('../img/backgrounds/football_autumn.jpg');
  min-height: 100%;
}
.bgimg-10 {
  background-image: url('../img/backgrounds/grain.jpg');
  min-height: 100%;
}
.bgimg-11 {
  background-image: url('../img/backgrounds/halloween.jpg');
  min-height: 100%;
}
.bgimg-12 {
  background-image: url('../img/backgrounds/hanukkah.jpg');
  min-height: 100%;
}
.bgimg-13 {
  background-image: url('../img/backgrounds/harvest.jpg');
  min-height: 100%;
}
.bgimg-15 {
  background-image: url('../img/backgrounds/ice_cream.jpg');
  min-height: 100%;
}
.bgimg-16 {
  background-image: url('../img/backgrounds/icecle.jpg');
  min-height: 100%;
}
.bgimg-17 {
  background-image: url('../img/backgrounds/independence_day.jpg');
  min-height: 100%;
}
.bgimg-18 {
  background-image: url('../img/backgrounds/may_flowers.jpg');
  min-height: 100%;
}
.bgimg-19 {
  background-image: url('../img/backgrounds/pumpkin.jpg');
  min-height: 100%;
}
.bgimg-20 {
  background-image: url('../img/backgrounds/spring_buds.jpg');
  min-height: 100%;
}
.bgimg-21 {
  background-image: url('../img/backgrounds/st_patrick.jpg');
  min-height: 100%;
}
.bgimg-22 {
  background-image: url('../img/backgrounds/tulip.jpg');
  min-height: 100%;
}
.bgimg-23 {
  background-image: url('../img/backgrounds/vacation.jpg');
  min-height: 100%;
}
.bgimg-24 {
  background-image: url('../img/backgrounds/valentines_day.jpg');
  min-height: 100%;
}
.bgimg-25 {
  background-image: url('../img/backgrounds/winter_river.jpg');
  min-height: 100%;
}

#calendarCont{
    width: 100%;
    height: auto;
    z-index: 15;
    /*position: absolute;*/
}
#imagePrev{
    width: 100%;
    height: auto;
    z-index: 17;
}
#c{
    width: 100%;
    height: 100% !important;
    display: block;
    overflow: auto;
}
.calendar-ini{
    height: auto;
}
        .zeropdg{
            padding-right: 0px;
            padding-left: 0px;
        }
        .zeropdg-2{
            padding-right: 2px;
            padding-left: 2px;
        }
        .col-xs-2, .col-xs-3, .col-xs-5, .col-xs-7, .col-xs-8, .col-md-4, .col-md-8{
                padding-right: 0px !important;
                padding-left: 0px;
        }
        .col-md-4{
                padding-right: 0px;
        }
        .col-md-8{
                padding-left: 0px;
        }
        .panel-left{
                background-color: #5e5e5e;
                height: 100%;
                padding: 0px 0px !important;
        }
       /* .bg-right{
                background-color: #e5e5e5;
        }*/
        #left-menu li a{
                color:#ffffff;
                background-color: #444444;
                border: none !important;
                border-radius: 0px 0px 0px 0px !important;
                text-align: center;
        }
        .sb-icons{
                width:100%; 
                text-align: center;   
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
                background-color: #5e5e5e !important;
        }
        .sb-content{
                color: #ffffff;
                overflow-y: scroll;
                max-height: 450px
        }
        @media screen and (max-width: 991px){
            .col-md-4{
                padding-right: 15px;
            }
            .col-md-8{
                padding-left: 15px;
            }
        }  

/*************Video and Layout******************/
.layoutType, .addVideoBox, .addImgBox, .addBgBox{
     cursor:pointer;
     margin: 10px 3px 10px 0px;
}
.Layout-text-1{
text-align: center;
/*background-color: #;*/
font-size: 14px;
color:#ffffff;
font-weight: 800;
width: 100%;
padding-top: 10px;
padding-bottom: 10px;
margin-bottom: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.btn-custom{
    margin: 10px 3px 20px -15px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/***************Texto*******************/
.tab-pane{
    color:#ffffff;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}
.tab-pane label{
    color:#ffffff;
    line-height: 2.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
/*************Anibal CSS*****************/        
        
#imagePrev {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding-left: 0;
    display: block;
    overflow: auto;
    position: absolute !important;
    position: absolute;
    z-index: 15;
}
        
        .erasable { 
            z-index: 6; 
            position: absolute;
        }
        
        .CalTxt1{
            z-index: 6;
            width: 250px;
            margin: 0px 0px;
            font-size: 18px;
        }

        .resis{
            width: 100%;
            height: 100%;
        }
        .imageContainer {
            width: 150px;
            height:  150px;
            position: absolute;
            z-index: 5;
        }
        
        #calendarCont, #calendarPanel{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            overflow: auto;
            height: auto !important;
        }
        
        .colorMatrix{
            width: 100%;
            height: 25px;
            background-color: red;
        }
        
        .colorE{
            border: solid;
            background-color: lightblue;
            width: 6.25%;
            height:25px;
            float: left;
        }
        
        #white, #white2{
            background-color: white;
        }
        
        #lightBlue, #lightBlue2{
            background-color: #add8e6;
        }
        
        #steelBlue, #steelBlue2{
            background-color: #4682B4;
        }
        
        #blue, #blue2{
            background-color: blue;
        }
        
        #lightGreen, #lightGreen2{
            background-color: #90EE90;
        }
        
        #green, #green2{
            background-color: green;
        }
        
        #darkGreen, #darkGreen2{
            background-color: #006400;
        }
        
        #purple, #purple2{
            background-color: #800080;
        }
        
        #hotPink, #hotPink2{
            background-color: #FF69B4;
        }
        
        #yellow, #yellow2{
            background-color: yellow;
        }
        
        #gold, #gold2{
            background-color: #FFD700;
        }
        
        #orange, #orange2{
            background-color: orange;
        }
        
        #red, #red2{
            background-color: red;
        }
        
        #gray, #gray2{
            background-color: gray;
        }
        
        #brown, #brown2{
            background-color: brown;
        }
        
        #black, #black2{
            background-color: black;
        }
        
        
/********Close Button for Draggable items********/
.erasable-2{
    z-index: 6; 
    position: absolute;
    border: 2px #ee1515 solid;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: auto;
    width: auto;
    background-color: rgba(0,0,0,0.2);

}
.erasable-2 input{
    width: 40px;
    text-align: center;
    background-color: red;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: black;
}
/*
.erasable-2 img{
    z-index: 6; 
    position: absolute;
    border: 2px #ee1515 solid;
    padding:5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
*/
.closebtn{
    /*float: right;*/
    z-index: 8;
    position: relative;
    margin-right: -5px;
    margin-top: -5px;
    display: none !important;
}
.closebtn-2{
/*    visibility: visible !important;*/
    float: right;
    margin-top: -5px; 
    margin-right: -7px;
    display: block !important;
}