/* 
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 4:36:23 PM
    Author     : Z-Bomb
*/

body {
  font-size: 16px;
}
body {
  height: 100%;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-80 {
  margin-top: 80px;
}
.mt-100 {
  margin-top: 100px;
}
.pd-20 {
  padding: 20px;
}
.section-padding {
  padding: 80px 0;
}
.black-table-area {
  background-color: #1A1B20;
  color: #fff;
}
.small-table-area {
  background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry.png") repeat scroll 0% 0%;
}
.section-title{
  color: #fff;
  letter-spacing: 0.1rem;
  padding: 10px 24px;
  text-transform: uppercase;
}
.section-title h1{
    font-size: 45px !important;
}
.section-table-pricing{
    margin-top: 40px;
    /*z-index: 6;*/
}
.table-pricing{
-webkit-box-shadow: -2px -1px 26px 2px rgba(0,0,0,0.43);
-moz-box-shadow: -2px -1px 26px 2px rgba(0,0,0,0.43);
box-shadow: -2px -1px 26px 2px rgba(0,0,0,0.43);
margin: 0px 0px 0px 0px;
}
.pricing-group{
    background-color: #0061d0;
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}
.pricing-group h2{
    font-size: 2.5em;
}
.princint-1{
    font-size: 30px;
    text-align: center;
    color: #0061d0;
    padding: 40px 0px 10px 0px;
}
.pricing-item ul{
  padding: 0px 0px;
}
.pricing-item ul li {
  list-style: none;
  margin-top: 20px;
}
.list-green{
    color: #1abc9c;
}
.list-red{
    color: #ee1515;
}
.button-sign-up{
    margin: 30px 10px;
    color: #ffffff;
    text-align: center;
}
.button-sign-up a{
    color: #ffffff;
    text-decoration: none;
    padding: 15px 45px;
    background-color: #138fcf;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.pricing-table-bottom{
    margin-top: 40px;
    background-color: #0061d0;
    padding: 2px;
}



.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);*/    

}
.bgimg-1 {
  background-image: url('../img/bg-6.jpg');
  min-height: 160px;
}
.bgimg-2 {
  background-image: url('../img/pricing/bg-5.jpg');
  min-height: 100%;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.bg-additional{
      background-color: rgba(0,0,0,0.5);
}
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.bg-div-2{
    background-color: #eeeeee ;
}
@media screen and (max-width: 767px){ 
.section-title h1{
    font-size: 30px !important;
}
}