/* 
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 4:36:23 PM
    Author     : Z-Bomb
*/
p{
    font-size: 18px;
}
.imgcenter img{
    width: 200px;
}

.linebox-right{
    border-right: 2px solid #26b8ea;
}

.linebox-left{
    border-left: 2px solid #26b8ea;
}

.hIcons-1{
    padding: 10px;
}
.hIcons-1 img{
    width: 120px;
    margin: 0 auto;
}
.hIcons-1 h3{
    font-weight: 600;
    text-align: center;
    color:#0061d0;
}
.hIcons-1 p{
    text-align: center;
    font-size:18px;
    padding:0 40px;
}

.hIcons-2{
    padding: 10px;
}
.hIcons-2 img{
    width: 70%;
    margin: 0 auto;
}
.hIcons-2 h3{
    font-weight: 600;
    text-align: center;
    color:#0061d0;
}
.bg-gray{
    background-color: #cccccc;
    border-bottom:3px dashed #ffffff;
}
.testimonial{
    text-align: right;    
    border-right: 2px solid #444444;
    padding: 20px;
}
.testimonial .fa-icons{
    background-color: #444444;
    color:#cccccc;
    font-size: 50px;
    padding: 30px;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;

}
.testimonial-2 p{
    text-align: left;
    font-size: 20px;
}

@media screen and (max-width: 767px){ 
        .testimonial{
            text-align: center;    
            border-right: 0px transparent;
        }
        .testimonial-2 p{
            text-align: center;
            font-size: 20px;
        }
        .linebox-right{
            border-right: 0px transparent;
        }

        .linebox-left{
            border-left: 0px transparent;
        }
}