/****Draggable text*****/

           .dragThis {
                width: 150px;
                height: 150px;
                padding: 0.5em;
                border: 3px solid #ccc;
                background-color: transparent;
                z-index: 10;
                position: absolute;
           }
         
/*******Default Calendar*********/
        #top,
        #calendar.fc-unthemed {
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #top {
                padding: 0 10px;
                line-height: 40px;
                font-size: 12px;
                color: #000;
        }

        #top .selector {
                display: inline-block;
                margin-right: 10px;
        }

        #top select {
                font: inherit; /* mock what Boostrap does, don't compete  */
        }
        
        .d { z-index: 2}
        #contenedor { z-index: 3; position: absolute; float: right; margin: 140px 0px 0px 80px;}
        .left { float: left }
        .right { float: right }
        .clear { clear: both }

        #calendar {
                max-width: 900px;
                padding: 0 10px;
        }   

/*******Custom Calendar View********/
        .col-xs-2{
                padding-right: 0px;
                padding-left: 0px;
        }
        .col-md-4{
                padding-right: 0px;
        }
        .col-md-8{
                padding-left: 0px;
        }
        .panel-left{
                background-color: #5e5e5e;
                height: 100%;
                padding: 0px 0px !important;
        }
        .bg-right{
                background-color: #e5e5e5;
        }
        #left-menu li a{
                color:#ffffff;
                background-color: #444444;
                border: none !important;
                border-radius: 0px 0px 0px 0px !important;
                text-align: center;
        }
        .sb-icons{
                width:100%; 
                text-align: center;   
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
                background-color: #5e5e5e !important;
        }
        .sb-content{
                color: #ffffff;
        }
        @media screen and (max-width: 991px){
            .col-md-4{
                padding-right: 15px;
            }
            .col-md-8{
                padding-left: 15px;
            }
        }
/*******Nav Bar******/
        .navbar-default{
            border: none;
            height: 90px;
            background-color: #26b8ea;
        }
        .top-logo{
                margin-top: -10px;
        }

/*******Mobile Menu********/
        .navbar-toggle{
                margin-top: 49px;
                border-color: #fffff !important;
        }
        .navbar-toggle .icon-bar{
                background-color: #ffffff !important;
        }