
@font-face {
    font-family: 'Roboto', sans-serif !important;
    src: url(../fonts/CircularStd-Book.otf);
}

.layoutType {
    
    width: 100%;
    height: 75px;
    margin-top: 10px;
    margin-bottom: 3px;
}

/****Main page background*****/
#background {
    width: 100%;
    height: 60%;
    margin-top: -20px;
    position: fixed;
}

#splashScreen {
    position: absolute;
    text-align: center;
    bottom: 1;
    left: 0;
    right: 0;
    z-index: 2;
}

#splashScreen h1{
    font-family: CircularStd;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    font-size: 450%;
    margin-top: 45px;
}

#splashScreen h2{
    font-family: CircularStd;
    color: white;
    font-size: 250%;
    margin-top: 30px;
}

.noPadding{
    padding: 0 !important;
    margin: 0 !important;
}

/****Draggable text*****/

           .dragThis {
                width: 150px;
                height: 150px;
                padding: 0.5em;
                border: 3px solid #ccc;
                background-color: transparent;
                z-index: 10;
                position: absolute;
           }
         
/*******Default Calendar*********/
        #top,
        #calendar.fc-unthemed {
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        }

        #top {
                padding: 0 10px;
                line-height: 40px;
                font-size: 12px;
                color: #000;
        }

        #top .selector {
                display: inline-block;
                margin-right: 10px;
        }

        #top select {
                font: inherit; /* mock what Boostrap does, don't compete  */
        }
        
        #contenedor { z-index: 3; position: absolute; float: right; margin: 140px 0px 0px 80px;}
        .left { float: left }
        .right { float: right }
        .clear { clear: both }

        #calendar {
                max-width: 900px;
                padding: 0 0px;
        }   

/*******Custom Calendar View********/
        .col-xs-2{
                padding-right: 0px;
                padding-left: 0px;
        }
        .col-md-4{
                padding-right: 0px;
        }
        .col-md-8{
                padding-left: 0px;
        }
        .panel-left{
                background-color: #5e5e5e;
                height: 100%;
                padding: 0px 0px !important;
        }
        .bg-right{
                background-color: #e5e5e5;
        }
        #left-menu li a{
                color:#ffffff;
                background-color: #444444;
                border: none !important;
                border-radius: 0px 0px 0px 0px !important;
                text-align: center;
        }
        .sb-icons{
                width:100%; 
                text-align: center;   
        }
        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
                background-color: #5e5e5e !important;
        }
        .sb-content{
                color: #ffffff;
        }
        @media screen and (max-width: 991px){
            .col-md-4{
                padding-right: 15px;
            }
            .col-md-8{
                padding-left: 15px;
            }
        }       
        
/*************Anibal CSS*****************/        
        
#imagePrev {
    left: 0px;
    right: 0px;
    top: 79px;
    bottom: 0px;
    width: 100%;
    height: 85%;
    padding-left: 0;
    position: absolute;
    z-index: 4;
}
        
        .erasable { 
            z-index: 6; 
            position: absolute;
        }

        .resis{
            width: 100%;
            height: 100%;
        }
        
        .imageContainer {
            width: 150px;
            height:  150px;
            position: absolute;
            z-index: 5;
        }
        
        #calendarCont, #calendarPanel{
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0;
            height: auto !important;
        }
        
        .colorMatrix{
            width: 100%;
            height: 25px;
            background-color: red;
        }
        
        .colorE{
            border: solid;
            background-color: lightblue;
            width: 6.25%;
            height:25px;
            float: left;
        }
        
        #white, #white2{
            background-color: white;
        }
        
        #lightBlue, #lightBlue2{
            background-color: #add8e6;
        }
        
        #steelBlue, #steelBlue2{
            background-color: #4682B4;
        }
        
        #blue, #blue2{
            background-color: blue;
        }
        
        #lightGreen, #lightGreen2{
            background-color: #90EE90;
        }
        
        #green, #green2{
            background-color: green;
        }
        
        #darkGreen, #darkGreen2{
            background-color: #006400;
        }
        
        #purple, #purple2{
            background-color: #800080;
        }
        
        #hotPink, #hotPink2{
            background-color: #FF69B4;
        }
        
        #yellow, #yellow2{
            background-color: yellow;
        }
        
        #gold, #gold2{
            background-color: #FFD700;
        }
        
        #orange, #orange2{
            background-color: orange;
        }
        
        #red, #red2{
            background-color: red;
        }
        
        #gray, #gray2{
            background-color: gray;
        }
        
        #brown, #brown2{
            background-color: brown;
        }
        
        #black, #black2{
            background-color: black;
        }
        
        
/********Close Button for Draggable items********/
.erasable-2{
    z-index: 6; 
    position: absolute;
    border: 2px #FF69B4 solid;
    padding:5px;
}
.closebtn{
    /*float: right;*/
    margin-right: -5px;
    margin-top: -5px;
    display: none !important;
}
.closebtn-2{
/*    visibility: visible !important;*/
    float: right;
    margin-top: -5px; 
    display: block !important;
}