/*@import url(http://fonts.googleapis.com/css?family=Fauna+One|Muli);*/

/*
*    The container of the main div
*/

.row {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}

/*
*   Tab header elements
*/

.customLi{
    line-height: 2.3;
}

.customLi a{
    font-size: 17px;
}

.planDescription{
    font-size: 13px;
}

.pull-left{
    width: 50%;
    text-align: center;
}

.pull-right{
    width: 50%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(50%); /* or try 50% */
}

.pull-right a, .pull-right div{
    background-color: #26b8ea;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
/* 
*  The tabs row
*/
.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all{
    border-top-left-radius: 4px;
    border-top-right-radius: 8px;
    padding-left: 0px;
    padding-top: 0px;
    border: 0px;
    background: #2a58ad;
}

/*
*   The tabs container
*/
#tabs{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

/*
*   The tabs inner container
*/
#tabs .ui-tabs-panel.ui-widget-content.ui-corner-bottom {
    height: 380px;
    overflow: auto;
}

/*
*   The tabs
*/
#tabs-0, #tabs-1, #tabs-2{
   
    
}
/*
*   The main container
*/
/*
#app {
    background-image: url('../img/bg-5.jpg');
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);
}
*/
#app{
background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*
*   Inactive tab
*/
/*
.ui-state-default.ui-corner-top{
    background-color: #014282;
    border-left: 0px;
    border-right: 0px;
    border-top-width: 0px;
}
*/
/*
*   Inactive tab a
*/
/*
.ui-state-default.ui-corner-top a{
    color: #ffffff;
}
*/
/*
*   The active tab
*/
/*
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active{
    border-left: 0px;
    border-right: 0px;
    background-color: #FFFFFF;
    font-weight: bold;
}
*/
/*
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active.ui-state-focus a:focus{
    outline-width: 0;
}
*/
/*
*   The content of the tab header
*/
/*
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a{
    color: #2a58ad;
}
*/




h2{
    margin-left: 65px;
    text-shadow:1px 0px 3px gray;
}
h3{
    font-size:18px;
    text-align:center;
    text-shadow:1px 0px 3px gray;
}
b{
    font-size:18px;
/*    text-shadow:1px 0px 3px gray;*/
}
#popup{
    padding-top:80px;
}
.form{
    border-radius:2px;
    padding:20px 30px;
    box-shadow:0 0 15px;
    font-size:14px;
    font-weight:bold;
    width:350px;
    margin:20px 250px 0 35px;
    float:left;
}
input{
    width:100%;
    height:35px;
    margin-top:5px;
    border:1px solid #999;
    border-radius:3px;
    padding:5px;
}
input[type=button]{
    background-color:#123456;
    border:1px solid white;
    font-family: 'Fauna One', serif;
    font-Weight:bold;
    font-size:18px;
    color:white;
    width:49%;
}
textarea{
    width:100%;
    height:80px;
    margin-top:5px;
    border-radius:3px;
    padding:5px;
    resize:none;
}
#contactdiv{
    /*opacity:0.92;*/
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    z-index: 3;
}

#contact{
    width:350px;
    margin:0px;
    background-color:white;
    font-family: 'Fauna One', serif;
    position: relative;
    border: 5px solid rgb(90, 158, 181);
}
.img{
    float: right;
    margin-top: -35px;
    margin-right: -37px;
}
#contact{
    left: 50%;
    top: 50%;
    margin-left:-210px;
    margin-top:-255px;
}


/*************Tabs***************/
.ui-tabs .ui-tabs-panel {
    padding: 0em 0.4em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .9em 2em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav{
    padding:0px 0px !important;
}
#tabs23{
    padding:0px 0px !important;
}
.customize-tabs {
    border: 0px solid #dddddd;
    background: #2a58ad;
    color: #333333;
    font-weight: 400;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5;
    background: #2a58ad;
    font-weight: normal;
    color: #bfcae0;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button{
    color:#bfcae0;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px solid #2a58ad;
    background: #1d4c9e;
    font-weight: bold;
    color: #ffffff;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}
@media screen and (max-width: 991px){
    .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .9em 1em;
    text-decoration: none;
    }
}

/*********Tabs ends here*********/

/*********Table*********/
.table-responsive{
    width: 100%;
}
.table-bordered{
    width: 100%;
}
.td-heads{
    background: #d2d9df;
    color: #2a58ad;
    font-weight: 700; 
}
.td-center{
    text-align: center;
}
.td-size1{
    width: 50%;
}
.td-size2{
    width: 35%;
    text-align: center;
}
.td-size3{
    width: 15%;
    text-align: center;
}

.links-1{
    background: #23b7e5;
}
.links-1:hover{
    background: #11a2cf;
}
.links-1 a{
    color: #ffffff;
}
.links-1 a:hover{
    text-decoration: none;
}
.edit-button{
    width: 100%;
    height: auto;
}

.links-2{
    background: #d83f46;
}
.links-2:hover{
    background: #c72931;
}
.links-2 a{
    color: #ffffff;
}
.links-2 a:hover{
    text-decoration: none;
}
.delete-button{
    width: 100%;
    height: auto;
}


.links-3{
    background: #5bc763;
}
.links-3:hover{
    background: #3ab743;
}
.links-3 a{
    color: #ffffff;
}
.links-3 a:hover{
    text-decoration: none;
}
.download-button{
    width: 100%;
    height: auto;
}

.create-vid{
    padding: 20px 30px;
    cursor: pointer;
    color: #ffffff;
    max-width: 210px;
}